@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&family=Playfair+Display:wght@500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

:root {
  --black: #111111;
  --dark: #151515;
  --green: #008c6a;
  --light-green: #00a77e;
  --cream: #f5f5f1;
  --white: #ffffff;
  --gray: #777777;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--cream);
  color: var(--black);
  font-family: "DM Sans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  font-family: inherit;
}

/* =========================
   NAVBAR
========================= */

.eyebrow:before {
    content: "";
    background: var(--green);
    width: 1px;
    height: 1px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  color: white;
}
.hero-section {
  /* position: relative; */
  /* z-index: 0; */
  background: url("/hero.jpg") center/cover no-repeat fixed;

  /* height: 100vh; */
  /* width: 100%; */

}

.nav-container {
  width: min(1200px, calc(100% - 80px));
  margin: auto;

  height: 90px;

  display: flex;
  align-items: center;
  justify-content: space-start;
  /* background: rgba(0,0,0,.3); */
}

/* .logo, */
.footer-logo {
  width: 38px;
  height: 38px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid rgba(255,255,255,.7);

  border-radius: 50%;

  font-size: 15px;
  font-weight: 600;
}

.logo  {
  width: 38px;
  height: 38px;
  @apply flex items-center justify-center border border-white rounded-full text-sm font-semibold absolute  left-1/2 ;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 35px;

  font-size: 13px;
}

.nav-links a {
  opacity: .8;
  transition: .3s;
}

.nav-links a:hover {
  opacity: 1;
}

.menu-button {
  display: none;

  background: none;
  border: 0;

  color: white;
  font-size: 25px;

  cursor: pointer;
}

/* =========================
   HERO
========================= */

.hero {
  height: 100vh;
  min-height: 700px;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;

  color: white;

  background:
    linear-gradient(
      rgba(0,0,0,.45),
      rgba(0,0,0,.72)
    ),
    url("/images/hero.jpg");

  background-size: cover;
  background-position: center;
}

.hero-overlay {
  position: absolute;
  inset: 0;

  background:
    radial-gradient(
      circle at 50% 40%,
      transparent,
      rgba(0,0,0,.4)
    );
}

.hero-content {
  position: relative;
  z-index: 2;

  text-align: center;

  max-width: 850px;

  padding: 30px;
}

.hero-small {
  font-size: 10px;
  letter-spacing: 4px;

  margin-bottom: 25px;

  opacity: .75;
}

.hero h1 {
  margin: 0;

  font-size: clamp(55px, 8vw, 110px);

  line-height: .9;

  letter-spacing: -5px;

  font-weight: 500;
}

.hero-description {
  max-width: 430px;

  margin: 30px auto;

  font-size: 15px;

  line-height: 1.7;

  color: rgba(255,255,255,.75);
}

.hero-button {
  display: inline-flex;

  padding: 14px 24px;

  background: var(--green);

  border-radius: 2px;

  font-size: 12px;

  transition: .3s;
}

.hero-button:hover {
  background: var(--light-green);
  transform: translateY(-2px);
}

.hero-bottom {
  position: absolute;

  bottom: 35px;
  left: 50%;

  transform: translateX(-50%);

  display: flex;
  align-items: center;
  gap: 15px;

  font-size: 10px;

  opacity: .65;
}

.scroll-line {
  width: 55px;
  height: 1px;

  background: white;
}

/* =========================
   COMMON
========================= */

.section {
  width: min(1200px, calc(100% - 80px));

  margin: auto;

  padding: 130px 0;
}

.section-heading {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;

  margin-bottom: 55px;
}

.eyebrow {
  display: block;

  color: var(--gray);

  font-size: 9px;

  letter-spacing: 2px;

  margin-bottom: 15px;
}

.section-heading h2 {
  margin: 0;

  font-size: clamp(35px, 4vw, 55px);

  line-height: .95;

  letter-spacing: -2.5px;

  font-weight: 700;
}





.section-heading-work {
  display: flex;
  align-items: flex-end;
  justify-content:space-between;
  text-align: center;

  margin-bottom: 55px;
}

.eyebrow {
  display: block;

  color: var(--gray);

  font-size: 9px;

  letter-spacing: 2px;

  margin-bottom: 15px;
}

.section-heading-work h2 {
  margin: 0;

  font-size: clamp(35px, 4vw, 55px);

  line-height: .95;

  letter-spacing: -2.5px;

  font-weight: 700;
}











.heading-number,
.view-all {
  color: var(--green);

  font-size: 10px;
}

/* =========================
   SERVICES
========================= */

.services {
  padding-top: 170px;
}

.service-grid {
  display: grid;

  grid-template-columns:
    repeat(3, 1fr);

  gap: 20px;
}

.service-card {
  position: relative;

  aspect-ratio: 1 / 1.15;

  overflow: hidden;

  border-radius: 5px;

  background: #222;
}

.service-card img {
  width: 100%;
  height: 100%;

  object-fit: cover;

  transition: transform .7s;
}

.service-card:hover img {
  transform: scale(1.06);
}

.card-overlay {
  position: absolute;
  inset: 0;

  background:
    linear-gradient(
      to top,
      rgba(0,0,0,.8),
      transparent 60%
    );
}



.service-description {
  /* position: absolute;

  bottom: 20px;
  left: 20px; */

  color: white;
  font-size: 10px;

  /* opacity: .7; */
}

.service-title {
  position: relative;

  left: 20px;
  bottom: 20px;

  color: white;

  font-size: 16px;

  font-weight: 500;

  max-width: 100px;
}

/* =========================
   WORK
========================= */

.work {
  background: #f1f1ed;

  width: 100%;
  max-width: none;

  padding-left: max(40px, calc((100vw - 1200px) / 2));
  padding-right: max(40px, calc((100vw - 1200px) / 2));
}

.projects {
  display: grid;

  grid-template-columns:
    repeat(2, 1fr);

  gap: 35px;
}

/* .project {
  min-width: 0;
  border-radius: 50px;
} */

.project-image {
  position: relative;

  aspect-ratio: 1.25 / 1;

  overflow: hidden;

  background: white;
}

.project-image img {
  width: 100%;
  height: 100%;

  object-fit: cover;

  transition: transform .6s;
}

.project:hover .project-image img {
  transform: scale(1.04);
}

.project-number {
  position: absolute;

  top: 20px;
  right: 20px;

  width: 35px;
  height: 35px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  background: white;

  font-size: 10px;
}

.project-info {
  display: flex;

  align-items: center;
  justify-content: space-between;

  padding: 20px 0;

  border-bottom: 1px solid #d5d5d0;
  background: #f5f5f1;
}

.project-info span {
  font-size: 9px;
  color: var(--gray);
}

.project-info h3 {
  margin: 7px 0 0;

  font-size: 20px;
  font-weight: 500;
}

.arrow {
  color: var(--green) !important;

  font-size: 25px !important;
}

/* =========================
   CTA
========================= */

.cta {
  position: relative;

  min-height: 620px;

  overflow: hidden;

  padding:
    130px
    max(40px, calc((100vw - 1200px) / 2));

  background: #eeeeea;
}

.cta-content {
  position: relative;
  z-index: 2;

  max-width: 650px;
}

.cta h2 {
  margin: 0;

  font-size: clamp(45px, 6vw, 75px);

  line-height: .95;

  letter-spacing: -4px;

  font-weight: 500;
}

.cta h2 span {
  color: var(--green);
}

.cta p {
  max-width: 440px;

  margin: 30px 0;

  color: #666;

  line-height: 1.7;

  font-size: 14px;
}

.cta-buttons {
  display: flex;

  align-items: center;

  gap: 25px;
}

.primary-button {
  padding: 14px 23px;

  color: white;

  background: var(--green);

  font-size: 11px;

  transition: .3s;
}

.primary-button:hover {
  background: var(--light-green);
}

.text-button {
  font-size: 11px;

  color: #444;
}

.person-wrapper {
  position: absolute;

  right: 8%;
  bottom: 0;

  width: 400px;

  z-index: 1;
}

.person {
  width: 100%;

  object-fit: contain;

  object-position: bottom;
}

/* =========================
   FOOTER
========================= */

.footer {
  background: #111;

  color: white;

  padding:
    80px
    max(40px, calc((100vw - 1200px) / 2))
    30px;
}

.footer-top {
  display: grid;

  grid-template-columns:
    2fr 1fr 1fr 1.5fr;

  gap: 50px;

  padding-bottom: 70px;

  border-bottom: 1px solid #292929;
}

.footer-brand p {
  color: #777;

  font-size: 12px;

  line-height: 1.7;

  margin-top: 20px;
}

.footer-logo {
  color: white;
}

.footer-column {
  display: flex;

  flex-direction: column;

  gap: 12px;

  font-size: 11px;
}

.footer-column span {
  color: #666;

  margin-bottom: 8px;

  text-transform: uppercase;

  letter-spacing: 1px;
}

.footer-column a {
  color: #aaa;

  transition: .3s;
}

.footer-column a:hover {
  color: white;
}

.footer-bottom {
  display: flex;

  justify-content: space-between;

  padding-top: 25px;

  color: #555;

  font-size: 9px;
}

/* =========================
   WHATSAPP
========================= */

.whatsapp {
  position: fixed;

  right: 25px;
  bottom: 25px;

  z-index: 100;

  width: 45px;
  height: 45px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  background: #25d366;

  color: white;

  font-size: 0;

  box-shadow: 0 5px 25px rgba(0,0,0,.2);
}

.whatsapp::after {
  content: "◉";

  font-size: 18px;
}

/* =========================
   RESPONSIVE
========================= */

@media (max-width: 800px) {

  .nav-container {
    width: calc(100% - 40px);
  }

  .menu-button {
    display: block;
  }

  .nav-links {
    position: absolute;

    top: 75px;
    left: 20px;
    right: 20px;

    display: none;

    flex-direction: column;

    align-items: flex-start;

    gap: 20px;

    padding: 25px;

    background: rgba(10,10,10,.95);

    border-radius: 5px;
  }

  .nav-links.mobile-open {
    display: flex;
  }

  .hero {
    min-height: 650px;
  }

  .hero h1 {
    font-size: 58px;
    letter-spacing: -3px;
  }

  .section {
    width: calc(100% - 40px);

    padding: 90px 0;
  }

  .services {
    padding-top: 100px;
  }

  .section-heading {
    align-items: center;

    /* flex-direction: column; */

    gap: 20px;
  }

  .service-grid {
    grid-template-columns: 1fr;
  }

  .service-card {
    aspect-ratio: 1.4 / 1;
  }

  .projects {
    grid-template-columns: 1fr;
  }

  .work {
    padding-left: 20px;
    padding-right: 20px;
  }

  .cta {
    padding: 90px 20px;

    min-height: 700px;
  }

  .cta h2 {
    font-size: 48px;
  }

  .person-wrapper {
    width: 300px;

    right: -20px;
  }

  .footer {
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer-top {
    grid-template-columns: 1fr 1fr;

    gap: 45px;
  }

  .footer-brand {
    grid-column: 1 / -1;
  }

  .footer-bottom {
    flex-direction: column;

    gap: 10px;
  }
}

@media (max-width: 450px) {

  .hero h1 {
    font-size: 48px;
  }

  .hero-description {
    font-size: 13px;
  }

  .section-heading h2 {
    font-size: 40px;
  }

  .cta h2 {
    font-size: 42px;
  }

  .person-wrapper {
    width: 260px;
  }

}





/* @import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
